/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Rubik:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body{
    background: #ffffff;
}

/* Un scroll más elegante */
html{
    scroll-behavior: smooth;
}

/* Menú de navegación */
nav{
    background: #156064;
    position: fixed;
    width: 100%;
    padding: 10px 0;
    z-index: 12;
}

/* Estilos del menú de navegación */
nav .menu{
    max-width: 1500px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content:space-between;
    padding: 0px 20px;
}

/* Estilos del logo */
.menu .logo a{
    text-decoration: none;
    margin-left: 30px;
    color: #fff;
    font-size: 35px;
    font-weight: 600;;
}

/* Estilo para la lista */
.menu ul{
    display: inline-flex;
}

/* Estilos para los elementos de la lista */
.menu ul li{
    list-style: none;
    margin-left: 7px;
}

/* Estilos para los botones */
.menu ul li a{
    text-decoration: none;
    justify-content: right;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* Efecto de los botones al pasar el mouse */
.menu ul li a:hover{
    background: #fff;
    color: #000
}

/* Imagen de fondo */
.image{
    background: url("img/portada.jpg") no-repeat;
    width: 100%;
    height:100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

/* Efecto de opacidad */
.image::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
}

/* Clase para centrar elementos */
.center{
    position: absolute;
    width: 55%;
    max-height:100%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    text-align: center;
}

/* Estilos para el texto principal */
.center .title{
    color: #fff;
    font-size: 40px;
}

/* Estilos del formulario */
.login-form{
    background: #fff;
    max-width: 350px;
    width: 100%;
    padding: 25px 30px;
    margin: 280px auto;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .15);
}

/* Estilos para el texto encabezado del formulario */
.login-form form .login-text{
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    position:relative
}

/* Estilos para la barra debajo del formulario */
.login-form form .login-text::before{
    content:'';
    position:absolute;
    height: 4px;
    width: 33px;
    bottom:-1px;
    border-radius: 5px;
    background: #127475;
}

/* Estilos para los contenedores de los inputs del formulario */
.login-form form .input-box{
    width: 100%;
    height: 45px;
    margin-top: 25px;
    position: relative;
}

/* Estilos para los inputs del formulario */
.login-form form .input-box input{
    height: 100%;
    width: 100%;
    outline:none;
    font-size: 16px;
    border:none;
}

/* Subrayado debajo de cada input */
.underline::before{
    position: absolute;
    content:'';
    height:2px;
    width: 100%;
    background: #ccc;
    left:0;
    bottom: 0;
}


.login-form form .underline::after{
    position:absolute;
    content:'';
    height: 2px;
    width: 100%;
    left:0;
    bottom: 0;
    background: #0d5c63;
    transform: scaleX(0);
}

/* Efecto para animación cuando selecciones un input */
.login-form form .input-box input:focus ~ .underline::after,
.login-form form .input-box input:focus ~ .underline:valid{
    transform: scaleX(1);
    transform-origin: left;
}

/* Estilos del botón de envío */
.login-form form .input-box input[type="submit"]{
    font-size: 17px;
    color:#fff;
    cursor: pointer;
    background: #156064;

}

/* Estilos para acomodar el texto del Login  */
.login-form form .login-text{
    margin-top: 20px;
    text-align: center;
}

/* Estilos para el enlace al formulario de sign up */
.login-form form .signup-text{
    margin-top: 20px;
    text-align: center;
}

.login-form form a{
    text-decoration: none;
    color:#000;
}

.login-form form a:hover{
    text-decoration: underline;
    color:#156064;
    
}

.login-form form a:visited{
    color:#000;
}

/* Estilos de la sección about */
.about{
    display: flex;
    width: 100%;
    max-width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: hsl(183, 31%, 34%);
    text-align: justify;
}

.about .a-container{
    width: 250px;
    margin: 0 50px;
    
}

.about .a-container img{
    width: 100%;
    margin-bottom: 20px;
}

.a-title,.a-subtitle{
    text-align:center;
}

/* Acciones para cuando la pantalla es pequeña */
@media screen and (max-width:800px) {
    .login-form{
        margin: 350px auto auto auto;
    }
    .image{
        height: 110vh;
    }

    .about{
        height: fit-content;
    }
    
    .center .title{
        font-size: 35px;
        width: 100%;
    }
}